.body {
 background-color: rgba(59, 253, 0, 0.129);
 display: flex;
 justify-content: center;
 font-family: 'Inter', Arial, sans-serif;
}

.page__container {
  /* border: 1px solid black; */
  margin: 150px auto;

}
