.body {
 background-color: #3bfd0021;
 display: flex;
 justify-content: center;
 font-family: 'Inter', Arial, sans-serif;
}

.page__container {
  /* border: 1px solid black; */
  margin: 150px auto;

}
