.body {
 background-color: rgba(59, 253, 0, 0.129);
 display: flex;
 justify-content: center;
 font-family: 'Inter', Arial, sans-serif;
}

.page__container {
  margin: 150px auto;
}

@media screen and (max-width: 390px) {
  .page__container {
    margin: 100px auto;
  }
}
