.converter {
  background-color: white;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 100px 18px rgba(253, 0, 33, 0.38);
}

.converter__form {
  display: flex;
  margin: 20px auto;
  margin-top: 40px;
  width: calc(100% - 25px * 2);
}

.converter__input[type='number'] {
  -moz-appearance:textfield;
}

.converter__input::-webkit-outer-spin-button,
.converter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.converter__input {
  appearance: none;
  border: none;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
  font-size: 19px;
}

.converter__select {
  border: none;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  appearance: none;
  text-align: center;
  cursor: pointer;
}


.converter__result {
  text-align: center;
}

.converter__swap {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url(../../vendor/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  margin: auto 45px;
  transform: rotate(90deg);
  cursor: pointer;
}

.converter__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  margin-bottom: 20px;
}
